<div id="food-details" v-cloak>
    <!-- breadcrumbs -->
    <section class="breadcrumbs bg-light">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="listing-sidebar.html">Shop</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Product</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>
  
  
      <!-- product -->
      <section class="hero bg-light pt-5">
        <div class="container">
          <div class="row gutter-2 gutter-md-4 justify-content-between">
  
            <div class="col-lg-7">
              <div class="row gutter-1 justify-content-between">
                <div class="col-lg-10 order-lg-2">
                  <div class="owl-carousel gallery" data-slider-id="1" data-thumbs="true" data-nav="true">
                    <figure class="equal">
                      <a class="image" href="assets/images/demo/afang-1.jpg" 
                        style="background-image: url(assets/images/demo/afang-1.jpg);">
                      </a>
                    </figure>
                    <figure class="equal">
                      <a class="image" href="assets/images/demo/afang-2.jpg" 
                        style="background-image: url(assets/images/demo/afang-2.jpg);">
                      </a>
                    </figure>
                    <figure class="equal">
                      <a class="image" href="assets/images/demo/afang-3.jpg" 
                        style="background-image: url(assets/images/demo/afang-3.jpg);">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-lg-2 text-center text-lg-left order-lg-1">
                  <div class="owl-thumbs" data-slider-id="1">
                      <span class="owl-thumb-item"><img src="assets/images/demo/afang-1.jpg" alt=""></span>
                      <span class="owl-thumb-item"><img src="assets/images/demo/afang-2.jpg" alt=""></span>
                      <span class="owl-thumb-item"><img src="assets/images/demo/afang-3.jpg" alt=""></span>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-5 mb-5 mb-lg-0">
              <div class="row">
                <div class="col-12">
                  <span class="item-brand">Native to Efik Tribe</span>
                  <h1 class="">Afang Soup</h1>
                  <span class="item-price"><span class="text-danger">From:</span> ₦900.00 <s class="text-muted">₦1,000.00</s></span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="item-offer">
                    <div href="#"><a class="nav-link" href="Busy-customer.html">Too Busy?</a></div>
                    <div>
                      <p>Just enter budgeted amount and checkout. We will take care of the rest.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Deliver</label>
                    <div class="btn-group-toggle btn-group-outline" data-toggle="buttons">
                      <label class="btn active">
                        <input type="radio" name="options" id="option1" checked> Cooked Food
                      </label>
                      <label class="btn">
                        <input type="radio" name="options" id="option2"> Ingredients
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <a href="afang-cart.html" class="btn btn-block btn-lg btn-primary">Tailor To budget</a>
                </div>
                <div class="col-12 mt-1">
                  <ul class="nav nav-actions">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Add to wishlist</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Share this Meal</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#">Facebook</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Twitter</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </section>
      
      <!-- info -->
      <section class="separator-top">
        <div class="container">
          <div class="row gutter-4 justify-content-between">
            <div class="col-lg-9 order-2 order-lg-1">
              <div class="row gutter-2">
                <div class="col-md-4">
                  <ul class="nav nav-tabs flex-md-column lavalamp" id="component-2" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#component-2-1" role="tab"
                        aria-controls="component-2-1" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#component-2-2" role="tab" aria-controls="component-2-2"
                        aria-selected="false">How to Cook</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#component-2-3" role="tab" aria-controls="component-2-3"
                        aria-selected="false">Delivery</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-8">
                  <div class="tab-content" id="component-2-content">
                    <div class="tab-pane fade show active" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1">
                      <p>The Nigerian Afang Soup, like the Edikang Ikong soup, is native to the Efiks, people of Akwa Ibom and Cross River states
                      of Nigeria but enjoyed by all Nigerians. It is also very nutritious as the soup consists mainly of vegetables. Afang
                      Soup is prepared with a generous quantity of Water leaves and the wild herbal Okazi leaves.</p>
                    </div>
                    <div class="tab-pane fade" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
                      <ul class="list-group list-group-line">
                        <li class="list-group-item"><span class="font-weight-bold">BEFORE YOU COOK:</span><br>
                        Wash, drain and slice the water leaves into tiny pieces. Grind or pound the sliced Okazi leaves. In Nigerian markets,
                        the sellers of these sliced Okazi leaves have a machine for grinding it. You can also grind it with your blender with a
                        small quantity of water. Take a look at the ground Okazi leaves.
                        Grind your pepper and crayfish and cut the onions into tiny pieces.
                      </li>
                        <li class="list-group-item"><span class="font-weight-bold">COOKING DIRECTION:</span><br>
                        Boil the beef and Kanda with the diced onions and stock cubes in a very small quantity of water. When done, add the dry
                        fish and cook for about 5 more minutes.
                        Now add the palm oil, crayfish and pepper. Once it starts boiling, add the afang (okazi) leaves, water leaves and
                        periwinkle. When the okazi leaves have softened and the water has dried up a bit, add salt to taste and leave to simmer
                        for about 5 minutes. The Afang soup is ready!
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">NOTE:</span><br>
                        Great alternative to water leaves is Lamb's Lettuce, known as Canonigos in Spanish.
                        Yes, you need that much palm oil.
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="component-2-3" role="tabpanel" aria-labelledby="component-2-3">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dignissimos illum quisquam
                        repellendus, laboriosam perspiciatis aliquid, possimus hic sunt omnis iusto enim ratione quod natus
                        doloribus optio, recusandae eius laudantium.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe reprehenderit ab fugiat, quia
                        mollitia. Similique earum dolore dolores eveniet fuga velit, in architecto. Nam explicabo, praesentium
                        dicta quam odio quia!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 order-1 order-lg-2 text-lg-right">
              <div class="rate">
                <span>4.9</span>
                <a data-toggle="modal" data-target="#reviews" class="action eyebrow text-primary underline">View Reviews</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      
      <!-- related products -->
      <section class="separator-top no-overflow">
        <div class="container">
          <div class="row">
            <div class="col-12 mb-3">
              <ul class="nav nav-tabs lavalamp" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Related Products</a>
                </li>
              </ul>
            </div>
            <div class="col">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="owl-carousel visible" data-items="[4,4,2,1]" data-margin="10"
                    data-loop="true" data-dots="false" data-nav="true">
                    <div class="product">
                      <figure class="product-image">
                        <a href="#!" class="btn btn-ico btn-rounded btn-white"><i class="icon-Cooking-Pot"></i></a>
                        <a href="#!">
                          <img src="assets/images/demo/oha-1.jpg" alt="Image">
                          <img src="assets/images/demo/oha-3.jpg" alt="Image">
                        </a>
                      </figure>
                      <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Oha Soup</a></h3>
                        <a href="#!" class="product-like"></a>
                      </div>
                    </div>
                    <div class="product">
                      <figure class="product-image">
                        <a href="eatonbudget-meal-profile.html" class="btn btn-ico btn-rounded btn-white"><i class="icon-Bowl"></i></a>
                        <a href="#!">
                          <img src="assets/images/demo/okra-1.jpg" alt="Image">
                          <img src="assets/images/demo/okra-2.jpg" alt="Image">
                        </a>
                      </figure>
                      <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Okra Soup</a></h3>
                        <a href="#!" class="product-like"></a>
                      </div>
                    </div>
                    <div class="product">
                      <figure class="product-image">
                        <a href="afang.html" class="btn btn-ico btn-rounded btn-white"><i class="icon-Cooking-Pot"></i></a>
                        <a href="#!">
                          <img src="assets/images/demo/bitter-1.jpg" alt="Image">
                          <img src="assets/images/demo/bitter-2.jpg" alt="Image">
                        </a>
                      </figure>
                      <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Bitter Leaf Soup</a></h3>
                        <a href="#!" class="product-like"></a>
                      </div>
                    </div>
                    <div class="product">
                      <figure class="product-image">
                        <a href="afang.html" class="btn btn-ico btn-rounded btn-white"><i class="icon-Cooking-Pot"></i></a>
                        <a href="#!">
                          <img src="assets/images/demo/atama-1.jpg" alt="Image">
                          <img src="assets/images/demo/atama-2.jpg" alt="Image">
                        </a>
                      </figure>
                      <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Atama aka Banga Soup</a></h3>
                        <a href="#!" class="product-like"></a>
                      </div>
                    </div>
                    <div class="product">
                      <figure class="product-image">
                        <a href="eatonbudget-meal-profile.html" class="btn btn-ico btn-rounded btn-white"><i class="icon-Bowl"></i></a>
                        <a href="#!">
                          <img src="assets/images/demo/edikang-1.jpg" alt="Image">
                          <img src="assets/images/demo/edikang-2.jpg" alt="Image">
                        </a>
                      </figure>
                      <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Edikang-Ikong Soup</a></h3>
                        <a href="#!" class="product-like"></a>
                      </div>
                    </div>
                    <div class="product">
                      <figure class="product-image">
                        <a href="afang.html" class="btn btn-ico btn-rounded btn-white"><i class="icon-Cooking-Pot"></i></a>
                        <a href="#!">
                          <img src="assets/images/demo/egusi-1.jpg" alt="Image">
                          <img src="assets/images/demo/egusi-2.jpg" alt="Image">
                        </a>
                      </figure>
                      <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Egusi Soup</a></h3>
                        <a href="#!" class="product-like"></a>
                      </div>
                    </div>
                    <div class="product">
                      <figure class="product-image">
                        <a href="eatonbudget-meal-profile.html" class="btn btn-ico btn-rounded btn-white"><i class="icon-Bowl"></i></a>
                        <a href="#!">
                          <img src="assets/images/demo/suya-1.jpg" alt="Image">
                          <img src="assets/images/demo/suya-2.jpg" alt="Image">
                        </a>
                      </figure>
                      <div class="product-meta">
                        <h3 class="product-title"><a href="#!">Suya</a></h3>
                        <a href="#!" class="product-like"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- bottom alert  -->
      <div class="alert alert-warning alert-dissmissible alert-bottom" role="alert">
        <div class="container text-center">
          if you are in a hurry, just click <a href="Busy-customer.html" class="alert-link">too busy</a>
        </div>
      </div>
      
      
      <!-- footer -->
      <footer class="bg-dark text-white py-0">
        <div class="container">
          <div class="row separated">
            <div class="col-lg-6 py-3">
              <div class="row">
                <div class="col-md-8">
                  <p>Thank you for visiting us. We really appreciate it.
                  Please reach us for any complain or enquiry via the link belink below. We will respond to you personally
                </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <h4 class="eyebrow mb-2">Quick Links</h4>
                  <ul class="list-group list-group-columns">
                    <li class="list-group-item"><a href="about.html">About</a></li>
                    <li class="list-group-item"><a href="contact.html">Contact Us</a></li>
                    <li class="list-group-item"><a href="faq.html">FAQ</a></li>
                    <li class="list-group-item"><a href="blog.html">Blog</a></li>
                    <li class="list-group-item"><a href="text.html">Terms of Use</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 py-5">
              <div class="row justify-content-end">
                <div class="col-lg-10">
                  <h4 class="eyebrow mb-2">Subscribe</h4>
                  <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Email" aria-label="Subscribe"
                      aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-white" type="button" id="button-addon2">Subscribe</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-lg-10">
                  <h4 class="eyebrow mb-2">Follow us</h4>
                  <nav class="nav nav-icons">
                    <a class="nav-link" href="#!"><i class="icon-facebook-o"></i></a>
                    <a class="nav-link" href="#!"><i class="icon-twitter-o"></i></a>
                    <a class="nav-link" href="#!"><i class="icon-youtube-o"></i></a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
      
      <!-- cart -->
      <div class="modal fade sidebar" id="cart" tabindex="-1" role="dialog" aria-labelledby="cartLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cartLabel">Cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
      
              <div class="row gutter-3">
                <div class="col-12">
                  <div class="cart-item cart-item-sm">
                    <div class="row align-items-center">
                      <div class="col-lg-9">
                        <div class="media media-product">
                          <a href="#!"><img src="assets/images/demo/afang-1.jpg" alt="Image"></a>
                          <div class="media-body">
                            <h5 class="media-title">Afang Soup</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 text-center text-lg-right">
                        <span class="cart-item-price">₦2190</span>
                      </div>
                      <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="cart-item cart-item-sm">
                    <div class="row align-items-center">
                      <div class="col-lg-9">
                        <div class="media media-product">
                          <a href="#!"><img src="assets/images/demo/edikang-1.jpg" alt="Image"></a>
                          <div class="media-body">
                            <h5 class="media-title">Edikang Ikong</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 text-center text-lg-right">
                        <span class="cart-item-price">₦1120</span>
                      </div>
                      <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="cart-item cart-item-sm">
                    <div class="row align-items-center">
                      <div class="col-lg-9">
                        <div class="media media-product">
                          <a href="#!"><img src="assets/images/demo/okra-1.jpg" alt="Image"></a>
                          <div class="media-body">
                            <h5 class="media-title">Okra Soup</h5>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 text-center text-lg-right">
                        <span class="cart-item-price">₦3432</span>
                      </div>
                      <a href="#!" class="cart-item-close"><i class="icon-x"></i></a>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
            <div class="modal-footer">
              <div class="container-fluid">
                <div class="row gutter-0">
                  <div class="col d-none d-md-block">
                    <a href="cart.html" class="btn btn-lg btn-block btn-secondary">View Cart</a>
                  </div>
                  <div class="col">
                    <a href="checkout.html" class="btn btn-lg btn-block btn-primary">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <!-- search -->
      <div class="modal fade search" id="search" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" placeholder="Type your search here" aria-label="Type your search here"
                aria-describedby="button-addon2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      
      
      <!-- reviews -->
      <div class="modal fade sidebar" id="reviews" tabindex="-1" role="dialog" aria-labelledby="reviewsLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="reviewsLabel">Reviews</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row gutter-3">
                <div class="col-12">
                  <blockquote class="testimonial">
                    <div class="testimonial-rate">
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua.</p>
                    <footer>Michael Doe on 5 July 2019</footer>
                  </blockquote>
                </div>
                <div class="col-12">
                  <blockquote class="testimonial">
                    <div class="testimonial-rate">
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua.</p>
                    <footer>Michael Doe on 5 July 2019</footer>
                  </blockquote>
                </div>
                <div class="col-12">
                  <blockquote class="testimonial">
                    <div class="testimonial-rate">
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua.</p>
                    <footer>Michael Doe on 5 July 2019</footer>
                  </blockquote>
                </div>
                <div class="col-12">
                  <blockquote class="testimonial">
                    <div class="testimonial-rate">
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua.</p>
                    <footer>Michael Doe on 5 July 2019</footer>
                  </blockquote>
                </div>
                <div class="col-12">
                  <blockquote class="testimonial">
                    <div class="testimonial-rate">
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua.</p>
                    <footer>Michael Doe on 5 July 2019</footer>
                  </blockquote>
                </div>
                <div class="col-12">
                  <blockquote class="testimonial">
                    <div class="testimonial-rate">
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                      <span class="icon-ui-star"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua.</p>
                    <footer>Michael Doe on 5 July 2019</footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="container-fluid">
                <div class="row gutter-0">
                  <div class="col">
                    <a href="#!" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#writeReview"
                      data-dismiss="modal">Write Review</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <!-- new review -->
      <div class="modal fade sidebar" id="writeReview" tabindex="-1" role="dialog" aria-labelledby="writeReviewLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="writeReviewLabel">New Review</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="row gutter-2">
                <div class="form-group col-12">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group col-12">
                  <label for="exampleFormControlSelect1">Rating</label>
                  <select class="form-control custom-select" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group col-12">
                  <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="container-fluid">
                <div class="row gutter-0">
                  <div class="col">
                    <a href="#!" class="btn btn-lg btn-block btn-primary" data-dismiss="modal">Publish Review</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>